@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.heroText{
  font-size: clamp(18px, 6vw, 40px);
}

.heroSubText{
  font-size: clamp(12px, 2vw, 15px);
}
